<header  id="">
<div  class="collapse" id="navbarToggleExternalContent">
    <div  class="bg-dark p-4">
      <a  id="admin1" href="" routerLink="/users" >Usuarios</a>
      <br>
      <a id="admin2" href="" routerLink="/productos" >Productos</a>
      <br>
      <a id="empleado1" href="" routerLink="/consumo" >Consumo</a>
      <br>
      <a id="admin3" href="" routerLink="/habitacion" >Habitaciones</a>
      <br>
      <a id="empleado2" href="" routerLink="/metodo" >Pagos</a>
      <br>
      <a id="empleado3" href="" routerLink="/reserva" >Reservas</a>
      <br>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <button class="logOut btn btn-warning" (click)="logOut()">Cerrar Sesion</button>
  </nav>
</header>
